:root{
    --first-color: #3a07d5ed; 
    --second-color: #202020;
    --third-color:#ed1455; 
    --font-marca: 'Dosis', sans-serif;
}
body{
    background-color: white;
    padding: 0;
    margin: 0;
    
   
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
    
}
[id]{
    scroll-margin-top:7rem;
}





/*********************** NAV***************************************/

.barra-de-navegacion{
position: fixed;
top: 0;
width: 100%;
height: 12%;
background-color: var(--first-color);
display: flex;
flex-direction: row;

justify-content: space-around;
align-items: center;


}



.barra-de-navegacion a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:300;
    font-size: 1.2rem;
    
    color: white;
   
    
}
a:hover{
    color:var(--second-color);
}

.marca a{
    font-family: 'Dosis', sans-serif;
   

    font-size: 50px;
}

.menu a{
 margin-right: 1.3rem;
}


/********************** informacion **************************************************/

#informacion{
    margin-top: 6.24rem;
    scroll-margin-top: 6.25rem;
}
.contenedor{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(1, 0, 2, 0.8)
    ),
     url(Imagenes/programa-de-ingeniería-tecnológica-fondo-brillante-en-color-dibujo-mecánico-sistemas-diseño-asistidos-por-ordenador-indo-169100488.jpg);
}

.contenedor_informacion{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows:80% 20%;
   
}


.contenedor_informacion .imagen__cv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}





.contenedor_informacion .datos__cv{
   background-color:rgb(255, 255, 255);
   color: var(--second-color);
   grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height:auto;
    padding-bottom: 5rem;

}

.datos__cv h1{
    color: var(--first-color);
    font-family:var(--font-marca);
    font-size: 30px;
    
}

.subtitulo{

    margin: 10px;
    padding: 0;
   
    font-family:var(--font-marca);
    font-size: 30px;
    text-align: center;
    text-align: start;
}
.datos{
    margin: 10px;
    color: var(--second-color);
    
}
.info h4{
    margin: 10px;
    padding: 0;

    font-size: 20px;
    font-weight: bold;
    color: var(--first-color);
}


.contenedor_informacion .iconos__redes{
    background-color: var(--first-color);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
  
  
    

}


.iconos__redes{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   fill: white;
}

.iconos__redes svg{
    margin: 30px;
}



/**********************descripcion *****************************/
.descripcion{
    padding: 10rem;
}
.descripcion h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-marca);
    color: var(--first-color);
   
}
.descripcion p{
    text-align:justify;
    margin: 0 200px;
    

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--second-color);
   
}

/******************experiencia***********¨********************/
.experiencia{
    scroll-margin-top: 6.25rem;
}
.experiencia>h2{
    width: 100%;
    height: auto;
    font-size: 60px;
    font-family: var(--font-marca);
    text-align: center;
    color: var(--first-color);
    

}


.info__bloques{
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding-top: 1.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
height: auto;
text-align: center; padding-right: 40px;
}
.columna__uno{
    text-align: end;
    padding-right: 40px;
    font-size: 15px;
    font-weight: bold;
    color:var(--first-color);
    font-size: 15px;
    font-weight: bold;
    color:var(--first-color);


}
.columna__dos{
    width: 50%;
    text-align: start;
    padding-right: 40px;
    font-size: 15px;
    font-weight: bold;
    color:var(--first-color);
    font-size: 15px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--first-color);


}


/**************** formacion ***********/
#formacion{
    scroll-margin-top: 6.25rem;
}
.formacion h3{
    width: 100%;
    height: auto;
    font-size: 60px;
    font-family: var(--font-marca);
    text-align: center;
    color: var(--first-color);
}

.formacion__bloque{
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding: 3rem;
}

.formacion__columna_uno{
    text-align: end;
    padding-right: 40px;
    font-size: 15px;
    font-weight: bold;
    color:var(--first-color);
}

.formacion__columna_dos{
    width: 50%;
    height: auto;
    text-align: start;
    font-size: 15px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--first-color);
}

.formacion__titulos{
font-weight: bold;

}

/************** clientes **************/
#clientes{
    scroll-margin-top: 6.25rem;
}
.clientes{
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.clientes img{
    width: 100px;
    height: auto;
    padding: 2rem;

}

.clientes img:hover{
    transform: scale(2);
    transition-duration: 0.5s;
}

/************************aptitudes*********/
#aptitudes{
    scroll-margin-top: 6.25rem;
}

.titulo__aptitudes{
    width: 100%;
    height: 100px;
    margin: 0;
    font-size: 60px;
    font-family: var(--font-marca);
    text-align: center;
    color: white;
    background-color: var(--first-color);
}

.aptitudes__col1{
    width: 30%;
    
}
.aptitudes__col2{
    width: 30%;
   
    
}

.aptitudes_box{
   
    padding: 1rem;
    margin: 1rem;
    
    height: 70px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:var(--first-color);
    color: white;
}

.contenedores_columnas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    background-image:
   linear-gradient(
    rgba(58, 58, 58, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url(/4-Imagenes/52714.jpg);
    
}

/********************areas__practicas**********/

#practicas{
    scroll-margin-top: 6.25rem;
}
.areas__practicas{
    
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
}
.areas__practicas h4{
    margin: 0;
    width: 100%;
    height: 100px;
    font-size: 60px;
    font-family: var(--font-marca);
    text-align: center;
    color: var(--first-color);
    
}

.areas__practicas p{
    
    color: #4d4d4d;
}

.readmorebtn{
    width: 300px;
    height: 40px;
    margin-bottom: 2rem;
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 4px;
}

.readmorebtn:hover{
    width: 300px;
    height: 40px;
    background-color: #0271f0;
}


/**********************Formularios********/
#contactos{
    scroll-margin-top: 6.25rem;
}
.formulario{
    
    height: 100vh;
    background-color: #cecece;
    color:var(--first-color);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    

}



.formulario__columna_uno{
   padding: 2rem;
   margin-right:40px;
   
   font-size: medium;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.5rem;
   text-align: start;
}  
    


.formulario__columna_uno input{
    width: 300px;
    height: 30px;
    display: block;
    border: 0;
    border-bottom: 4px solid var(--first-color);
    border-bottom: 10px solid var(--first-color);

    
    

}

.formulario__columna_uno input:focus{
    outline: none;
    
}
.formulario__columna_uno textarea{
    resize: none;
    margin-top: 2rem;
    outline: none;
}
.formulario__columna_uno button{
    display: block;
    margin-top: 1.3rem;
    
    width: 15rem;
    height: 2rem;
    background-color: var(--first-color);
    color: white;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:10px;
    border: none;
}

.formulario__columna_dos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.formulario__columna_dos h6{
    
    font-size: 25px;
}

.formulario__columna_dos p{
    font-size: 15px;
}
label{
    font-weight: normal;
    font-size: 1em;
    font-family: serif;
    margin: 200px 0 8px 0;
}
/********************* footer*******/

footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: var(--first-color);
    font-size: 1.5rem;
    font-weight:300;
    color: white;
    text-align: center;

}




/************************************** Resposividad  HASTA 1024PX**************************************************************/
@media screen and (max-width:64rem ){
    html{
        
        display: initial;
        overflow-x: hidden;
 }

 body {
    display: block;
}

 /****************************************************** HEADER *****************************************/
 .marca{
    width: 50%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
.marca a{
    font-size: 2rem;

}   
 

.menu{
    margin-top: 5rem;
    display: flex;
    flex-direction:row;
    

    
    background-color: var(--first-color);
    
    
}

/********************************************************* informacion *******************************************/
.contenedor{
    height: auto;
    
}

.contenedor_informacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    
    
   
}
.datos__cv{
    text-align: center;
}
.iconos__redes{
    width: 100%;
   
}
/******************************************************* descripcion  *****************************************/
.descripcion{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:19rem auto 0 auto

}
.descripcion p{
    padding: 0;
    margin: 0;

}

/******************************************************* EXPERIENCIA  *****************************************/

#experiencia .info__bloques{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.formacion__bloque{
    padding:10px;
    margin-bottom: 100px;
}
.formacion__col2{
    display: initial;
   

    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    

}

/******************************************************* CLIENTES  *****************************************/


.clientes img{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
    width: 70%;
    height: auto;
    padding: 0;
    
}

/******************************************************* APTITUDES  *****************************************/

.contenedores_columnas{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.aptitudes__col1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.aptitudes__col2{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.aptitudes_box{
    width: 100%;
    margin: 15px 0px 0px 0px;
    padding: 0;
    
}

/******************************************************* PRACTICAS  *****************************************/
.areas__practicas{
    
   margin: 15rem 0 14rem 0;
  padding: 2rem 0 2rem 0;
}

.formulario{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario__columna_dos h6{
    margin: 10px;
}
.formulario__columna_dos p{
    margin: 10px;
}

}


/************************************** Resposividad  HASTA 500PX**************************************************************/
/************************************** Resposividad  HASTA 500PX**************************************************************/

/************************************** Resposividad  HASTA 500PX**************************************************************/

/************************************** Resposividad  HASTA 500PX**************************************************************/
/************************************** Resposividad  HASTA 500PX**************************************************************/

/************************************** Resposividad  HASTA 500PX**************************************************************/


@media screen and (max-width:31.25rem ){
    html{
        
        display: initial;
        overflow-x: hidden;
 }

 body {
    display: block;
}

 /****************************************************** HEADER *****************************************/
 .marca{
    width: 50%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.marca a{
    font-size: 2rem;

}   
 

.menu{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    

    
    background-color: var(--first-color);
    
    
}

/********************************************************* informacion *******************************************/

.contenedor_informacion{
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
   margin: 0;
}
.datos__cv{
    text-align: center;
}

/******************************************************* descripcion  *****************************************/
.descripcion{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:19rem auto 0 auto

}
.descripcion p{
    padding: 0;
    margin: 0;

}

/******************************************************* EXPERIENCIA  *****************************************/

#experiencia .info__bloques{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.formacion__bloque{
    padding:10px;
    margin-bottom: 100px;
}
.formacion__col2{
    display: initial;
   

    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    

}

/******************************************************* CLIENTES  *****************************************/


.clientes img{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
    width: 70%;
    height: auto;
    padding: 0;
    
}

/******************************************************* APTITUDES  *****************************************/

.contenedores_columnas{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.aptitudes__col1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.aptitudes__col2{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.aptitudes_box{
    width: 100%;
    margin: 15px 0px 0px 0px;
    padding: 0;
    
}

/******************************************************* PRACTICAS  *****************************************/
.areas__practicas{
    
   margin: 15rem 0 14rem 0;
  padding: 2rem 0 2rem 0;
}

.formulario{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario__columna_dos h6{
    margin: 10px;
}
.formulario__columna_dos p{
    margin: 10px;
}

}



